<floor>
    <div id="floorBox">
        <div id="floor" data-aos="fade-up" data-aos-once="true" data-aos-anchor-placement="bottom-bottom">
            <img id="floorImg" src="/img/floor/footer.png" alt="">

            <table id="floorP">
                <tr class="floorPTitle">
                    <th><a class="curHover" href="">關於我們</a></th>
                    <th><a class="curHover" href="">購物說明</a></th>
                    <th><a class="curHover" href="">客服資訊</a></th>
                </tr>
                <tr class="floorP">
                    <td><a class="curHover" href="">商店簡介</a></td>
                    <td><a class="curHover" href="">付款方式</a></td>
                    <td><a class="curHover" href="/contact">客服留言</a></td>
                </tr>
                <tr class="floorP">
                    <td><a class="curHover" href="">門市資訊</a></td>
                    <td><a class="curHover" href="">運送方式</a></td>
                    <td><a class="curHover" href="">常見問題</a></td>
                </tr>
                <tr class="floorP">
                    <td><a class="curHover" href="">隱私權條款</a></td>
                    <td><a class="curHover" href="">退換貨方式</a></td>
                    <td><a class="curHover" href="">聯絡我們</a></td>
                </tr>
            </table>
        </div>
    </div>
</floor>