<a href="/"><img id="logoLT" class="curHover" src="/img/index/LOGO.png"></a>
<div class="marquee">
    <img id="marqueeImg" src="/img/index/set/P1/跑馬燈.png">
    <div id="marqueeBox">
        <span id="marqueeP">2020-07-30 《侍魂 NEOGEO 典藏輯》中文一般版</span>
    </div>
</div>