/* 心跳 */

@keyframes pulse-grow {
    to {
        filter: brightness(1.2);
    }
}

.pulse-grow {
    animation-name: pulse-grow;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/* 自動跳動 */

@keyframes bouncing-loader {
    to {
        transform: translate(-50%, -70%);
    }
}

.bouncingLoader {
    animation: bouncing-loader 0.6s infinite alternate;
}


/* 歡迎登入動畫 */

@keyframes lineRun {
    0% {
        width: 0%;
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
    }
}

@keyframes pRun {
    0% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    45% {
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes w0 {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}

@keyframes displayNone {
    to {
        opacity: 0;
    }
}

.displayNone {
    animation: displayNone 0.5s 3s ease-out both;
}

.w0 {
    animation: w0 1s 3s ease-out both;
}

.pRun {
    animation: pRun 3s ease-out both;
}

.lineRun {
    animation: lineRun 3s ease-out both;
}


/* P1商品影片Hover */

#gamePlayImg {
    width: 35%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0;
}

.playGame:hover>#gamePlayImg {
    transition: all 0.5s;
    width: 25%;
    opacity: 0.9;
}


/* P1右下廣告 */

.adRightClick {
    transition: all 0.5s;
    right: 15% !important;
    bottom: 20% !important;
    width: 70% !important;
    height: 62% !important;
}

img#adClose {
    margin: 1%;
    width: 4%;
    position: absolute;
    right: 0;
    z-index: 1;
}


/* P2廣告影片 */

#showVideo {
    height: 41vw;
    background: black;
    display: none;
    position: absolute;
    top: 0%;
    right: 50%;
    transform: translate(50%, -45%);
    /* transition: all 0.5s; */
    z-index: 1;
    padding: 3vw 0;
}

#videoClose {
    display: none;
    position: absolute;
    transform: translateX(-50%);
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 3vw;
    font-size: 1.3vw;
}

iframe#videoPlaying {
    width: 70vw;
    height: 32vw;
}

#newMSG a {
    color: white;
    text-decoration: none;
}

#newMSG a:hover {
    filter: invert(0.5);
}


/* P2 Img */

.P2Ad:hover {
    transform: scale(1.05);
    transition: all 0.5s;
    box-shadow: 0px 5px 10px 0px rgb(134, 134, 134);
}